
:root {
  --main-color: red;
}



.background{
    background-image: url("../img/pexels-cottonbro-7170699.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 400px;
    color: aliceblue;
    background-position: center;
    height: 800px;
    background-size: cover;
}
.background
 h1{
    background-color: var(--main-color);

}