@media (max-width: 575px) {
  .header-home {
    background-position: right;
  }
  .header-home h3 {
    font-size: 26px;
  }
}
@media (max-width: 991px) {
  .card-home {
    height: 850px;
  }
}
@media only screen and(max-width:575px) {
  .footer-home {
    border-radius: 100px 100px 0px 0px;
  }
  .social-footer-home p {
    margin-bottom: -12px;
    padding-right: 36px;
  }
}